<div>
  <div class="nav-bar bg-2 p-4 flex justify-between items-center">
    <div>
      <h1 class="text-white font-bold text-lg">Task Management</h1>
    </div>

    <div class="flex gap-2 cursor-pointer" (click)="openModal()">
      <img src="../../../assets/svg/plus-circle-fill.svg" alt="plus-circle-fill" />
      <h1 class="text-white font-bold">New Task</h1>
    </div>

    <app-new-task-modal 
    *ngIf="isModalOpen" 
    (close)="closeModal()" 
    (save)="addTask($event)">
  </app-new-task-modal>

    <form class="relative">
        <input type="search" name="" id="" placeholder="Search by title or description" class="py-3 pl-2 min-w-72 rounded-lg text-sm">
        <button type="submit" class="absolute end-2.5 text-white px-4 m-1 py-2 bg-sky-800 hover:bg-blue-800 rounded-lg text-sm">Search</button>
    </form>
  </div>
  <div class="mt-5 main flex gap-40 justify-center items-center p-5">
    <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
            <div class="rounded-full bg-3 w-3 h-3"></div>
            <h2 class="text-white text-[12px]">TODO (<span>{{ todoTasks.length }}</span>)</h2>
        </div>
        <div
        *ngFor="let item of todoTasks">
        <app-task-card
        [menuItems]="todoMenuItems"
        (menuItemClick)="handleMenuClick('TODO', $event)"
        />
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
            <div class="rounded-full bg-pink-400 w-3 h-3"></div>
            <h2 class="text-white text-[12px]">DONE (<span>{{ completedTasks.length }}</span>)</h2>
        </div>
        <div
        *ngFor="let item of completedTasks">
        <app-task-card
        [menuItems]="doneMenuItems"
        (menuItemClick)="handleMenuClick('DONE', $event)"
        />
        </div>
    </div>
  </div>
</div>
